    /*We want our box model to be 280px wide and tall  */

     /*Give the box model a background or background-color of “whitesmoke”  */

     /* We want to move our box model element 20px to the right and 20px from the top. */

     /* Our box model needs to have a solid black border that is 2px thick */

     /* Lastly for this step, let’s curve all the corners of the box model by 20px */

     /* For our last step in this assignment, we need to move our paragraph tag 15px right and 15px from the top */

    .box-model{
        width: 280px;
        height: 280px;
        background-color: whitesmoke;
        right: 20px;
        top: 20px;
        border: 2px solid-black;
        border-radius: 20px;
    }
    p {
        right: 15px;
        top: 15px;
    }

    .add-btn-text {
        margin-left: 10px
    }

    .add-cart-btn {
        width: 90% ;
        border: none ;
        border-radius: 8px;
        height: 48px;
    }
    .description-container {
        padding: 20px 25px;
        width: 100%;
    }

    .description {
        width: 95%;
    }
    
    .product-card {
        border-radius: 10px ; width: 600px ; 
    }

    .product-image-container {
        width: 100% ;
        height: 400px ;
    }

    .product-image {
        width: 100% ;
        height: 100% ; 
        object-fit: cover ;
    }

    .strike {
        margin-left: 20px ;
    }

    .title {
        margin: 0 ; 
        padding: 0 ;
        max-width: 70%
    }