h1{ 
    color:aqua
}
.intro{ 
    color: pink;
}
.one, two{
    color: purple;
    font-size: 48px;
}

#main-content{
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
}

*{
    border: solid 2px green;
}